* {
	font-size: xx-large;
	font-family: Arial;
}
html, body {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(159, 199, 239);
	flex-direction: column;
	overflow-x: hidden;
	overflow-y: hidden;
}
h1 {
	margin-top: 0px;
	font-size: 45px;
}
a {
	text-decoration: none;
	color: black;
	margin: 10px;
}
input, select, option, button {
	background-color: rgb(169, 206, 244);
}